@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
:root {
    --tamnoPlava: #140035;
    --svetloPlava: #39a1ff; /*rgb(57, 161, 255)*/
    --bela: #fff;
    --svetloSiva: #f7f7f7;
    --font: 16px;
    --transition: .4s ease;
    --padding: 100px 0;
}
/****************************
common styles
****************************/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
button {
    padding: 15px 30px;
    background-color: var(--tamnoPlava);
    color: var(--bela);
    border: 1px solid var(--tamnoPlava);
    outline: none;
    cursor: pointer;
    transition: var(--transition);
    font-size: 1.2rem;
}
button:hover {
    color: var(--tamnoPlava);
    background-color: var(--bela);
}
.container {
    max-width: 1450px;
    width: 80%;
    margin: auto;
}
h3 {
    font-size: 3rem;
    color: var(--tamnoPlava);
}
.about, .services, .projects, .contact {
    padding: var(--padding);
}
.about, .services article,
.projects article:last-child,
.contact article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/****************************
header
****************************/
header {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
}
header h1 {
    font-size: 6.4rem;
    text-shadow: 2px 2px var(--bela);
}
header p {
    font-size: 1.5rem;
    color: var(--bela);
    padding-bottom: 30px;
    line-height: 1.4;
}
/****************************
about
****************************/
.about article {
    flex: 0 0 45%;
}
.about article:last-child {
    background-color: var(--svetloPlava);
    color: var(--bela);
    padding: 30px;
}
.about h2 {
    font-size: 3.3rem;
    text-transform: capitalize;
}
.about h2 + p {
    padding-bottom: 20px;
}
.about h4 {
    font-size: 2rem;
}
/****************************
services
****************************/
.services {
    background-color: var(--svetloSiva);
}
.services article div {
    flex: 0 0 31.4%;
}
.services img {
    width: 100%;
    display: block; 
}
.services p {
    padding: 10px 0 30px;
}
/****************************
projects
****************************/
.projects article:first-child {
    text-align: center;
}
.projects h3 + p {
    padding: 10px 0 50px;
}
.projects article:last-child div {
    flex: 0 0 31.4%;
}
.projects img {
    width: 100%;
}
.projects h5 {
    font-size: 1.6rem;
    color: var(--tamnoPlava);
}
.projects h5 + p {
    padding: 5px 0 20px;
}
/****************************
contact
****************************/
.contact {
    background-color: var(--svetloPlava);
    color: var(--bela);
}
.contact h3 {
    text-align: center;
    color: var(--bela);
    padding-bottom: 20px;
}
.contact article div {
    flex: 0 0 31.4%;
}
.contact h5 {
    font-size: 1.6rem;
}
.contact h5 + p {
    padding: 10px 0 15px;
}
/****************************
footer
****************************/
footer {
    background-color: var(--tamnoPlava);
    color: var(--bela);
    text-align: center;
    padding: 30px 0;
    font-size: 1.1rem;
}

/****************************
R E S P O N S I V E
****************************/
@media (max-width: 1750px) {
    header {
        background-image: linear-gradient(rgba(57, 161, 255,.4), rgba(57, 161, 255,.4)),url(img/header.jpg);
    }
    header h1 {
        text-shadow: 3px 3px var(--bela);
    }
    header p {
        text-shadow: 0 0 3px black;
    }
    .services h3 {
        line-height: 1.1;
    }
}
@media (max-width: 991px) {
    .container {
        width: 90%;
    }
    .about, .services, .projects, .contact {
        padding: 80px 0;
    }
    header h1 {
        font-size: 5.2rem;
    }
    .about h2 {
        font-size: 3.2rem;
    }
    .services h3 {
        font-size: 2.4rem;
    }
}
@media (max-width: 767px) {
    .container {
        width: 90%;
    }
    .about, .services, .projects, .contact {
        padding: 80px 0;
    }

    header {
        padding-left: 20px;
        height: 90vh;
    }
    header h1 {
        font-size: 4rem;
        line-height: 1.1;
    }
    header p {
        padding-top: 20px;
    }
    .about h2 {
        font-size: 3rem;
    }
    .about article, .services article div, 
    .projects article:last-child div, .contact article div {
        flex: 0 0 100%;
    }
    .about button, .services article div,
    .projects button, .contact article div {
        margin-bottom: 30px;
    }
    .services div p {
        padding-bottom: 15px;
    }
    .projects h3, .contact h3 {
        font-size: 2.8rem;
    }
}
